sudo: required
dist: trusty
language: node_js
node_js:
   - 8
 
cache:
  directories:
   - $HOME/.npm

branches:
   only:
      - master # will only build for master branch commits
      - /^v\d+\.\d+\.\d+$/

before_install:
  - npm install -g npm@latest
    
install:
  - npm ci

script:
  -  npm run build
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ./travis/confirm_no_existing_tag.sh; fi'

after_success:
  - export PACKAGE_VERSION=$(node -p -e "require('./package.json').version")
  - git config --global user.email "builds@travis-ci.com"
  - git config --global user.name "Travis CI"
  - export GIT_TAG=PACKAGE_VERSION
  - git tag $GIT_TAG -a -m "Generated tag from TravisCI for build $TRAVIS_BUILD_NUMBER"
  - test $TRAVIS_BRANCH = "master" && git push -q https://$GH_TOKEN@github.com/${TRAVIS_REPO_SLUG}.git --tags

deploy:
  provider: firebase
  token:
    secure: $FIREBASE_TOKEN
  project: dev
  message: Deploying v$(node -p -e "require('./package.json').version") to Firebase
  skip_cleanup: true